@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Erro.</h1>
<h2 class="text-danger">Ops... Isso é feio. Lamentamos, mas ocorreu um erro. Pressione F5 e tente novamente.</h2>

